@{
    var userID = ViewData["userID"];  
}
@if (userID != null)
{
    <p>User ID: @userID</p>
}
@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image:url(https://images.unsplash.com/photo-1414497729697-b8555ba6c1cc?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); background-size: auto">
<div class="text-center">
    <h1 style= "color:aliceblue">Welcome</h1>
    
    <h3 style= "color:aliceblue">Thank you for visiting KhumaloCraft Emporium, it is a pleasure to have you here with us. The overarching purpose of this website is 
        to connect talented individuals with similar like minded buyers. please feel free to take a look around, more information can be found in 
        the about us section.
    </h3>
</div>
</body>